/2.html
/app.js
/assignment .html
/assignment2.html
/bird.png
/cal.css
/cal.html
/css.png
/day1.css
/day1.html
/donkey.png
/hp.css
/index.html
/level.html
/men.png
/men2.png
/men3.png
/new
/new.html
/pexels-photo-771742.webp
/port.css
/port.html
/practice.html
/pro3.css
/pro3.html
/project.html
/project2.css
/project2.html
/Resend Assignment #1.zip
/script.js
/style.css